article#login {
    width: 100% !important;
    min-height: 300px !important;
    background: url("../img/fundos/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
 }
 
article div.tela {
  margin:50px !important;
}
