/* ########################### Pagina de LOGIN #######################*/
article#login {
    width: 80% !important;
    min-height: 400px !important;
    background: url("../img/fundos/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
 }

/*para as telas mobile*/
@media all and (max-width:990px){
  article#login {
    width: 100% !important;
  }

  article#login form{
    margin:1pc auto !important;
    /*padding:5px;*/
    width:95% !important;
    height:100%;
    background-color:rgba(240, 249, 234, 0.5);
    border-radius: 10px;
      }
  article#login h2 {
        font-size:15pt;
        font-variant: small-caps;
      }
    }

/*telas normal desktop*/
article#login form{
  margin:20px auto !important;
  padding:20px;
  width:80%;
  height:100%;
  background-color:rgba(240, 249, 234, 0.5);
  border-radius: 10px;
   z-index: 2;
}

article#login h2 {
    font-variant: small-caps;
    margin: 10px !important;
}

/*####################################### Página de ACESSÓRIO ################################*/
/*article #pg_acessorio {
  width:10px !important;
  background-color: red !important;
}*/

article#pg_acessorio nav#paginacao {
  width:90% !important;
  margin: 10px auto !important;
  /*background-color: red !important;*/
  box-shadow:none;
}
